.DS_Store
build
test-coverage
*.iws

assets
.apidoc

settings.yml
settings.js
node_modules
bower_components
npm-debug.log
.idea
/public/js

*._
*.sw[opqr]
*.swap
.*.swp
*humbs.db
*.key
*.pem
*.crt
*.csr
.classpath

.settings/
target/
.project
.settings
.tern-project
komed-health.iml
